@font-face {
  font-family: Santio;
  src: url(/assets/fonts/Santio\ regular.ttf);
}
@font-face {
  font-family: inter;
  src: url(../assets/fonts/Inter-VariableFont_slnt\wght.ttf);
}
@font-face {
  font-family: MrDafoe;
  src: url(../assets/fonts/MrDafoe-Regular.ttf);
}
* {
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Santio, inter, MrDafoe;
}
.parallax {
  background: url("../assets/img/cleo-topper.jpg") no-repeat;
  height: 100vw;
  width: auto;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.content {
  position: relative;
  margin-left: 15vw;
  margin-right: 15vw;
}
.logo {
  height: 4vh;
  width: auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 9rem;
  gap: 30px;
  margin-bottom: 15vh;
}
header a {
  text-decoration: none;
  color: #ffffff;
  border-bottom: #e7bc0e solid;
}
.statimg {
  height: 10vh;
  width: auto;
}
.section1 {
  display: flex;
  flex-direction: column;
  font-family: Santio;
  font-size: 20rem;
  font-weight: bold;
  color: #ffffff;
  width: 15vw;
}
.section1 h2 {
  padding-bottom: 10vh;
}
.section1 p {
  display: flex;
  font-size: 15rem;
  width: 50vw;
  font-family: MrDafoe;
  color: #e7bc0e;
}
.section1 span {
  display: flex;
  margin-top: 5vh;
  margin-left: 2vw;
  font-family: Santio;
  font-size: 10rem;
  font-style: italic;
}
.section2 {
  display: flex;
  color: #6bc1a3;
  font-family: Santio;
  font-size: 20rem;
  width: 40vw;
}
